<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sumlist</title>
    <link rel="stylesheet" href = "/css/sumlist.css">
  </head>
  <body>
  <h1>sumlist</h1>
  <% var sum=0  %>
    <% for( var i = 0 ; i < numbers.length; i++) { %>
      <% sum += numbers[i] %>
    <% } %>
    <table style =" border: 2px solid black; pading: 0px">
      <% for( var j = 0; j < numbers.length; j++) { %>
        <tr> 
          <% var color = (numbers[j] % 2) ? oddColor : evenColor %>
          <td style =" color: <%= color %>;">  <%= numbers[j] %> </td>
        </tr>
      <%  } %>
      <tr>
        <td id="sum"> <%= sum  %>  </td>
      </tr>  
    </table>
  </body>
</html>
